appdirs==1.4.4
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
fake-useragent==0.1.11
google==2.0.3
idna==2.9
lxml==4.5.1
numpy==1.18.4
opencv-python==4.2.0.34
pdfminer.six==20200517
pdfquery==0.4.3
Pint==0.11
psycopg2==2.8.5
pychrome==0.2.3
pycryptodome==3.9.7
pyee==7.0.2
pyppeteer-stealth==1.0.0
pyppeteer2==0.2.2
pyquery==1.4.1
pytz==2019.3
requests==2.23.0
roman==3.2
selenium==3.141.0
six==1.14.0
sortedcontainers==2.2.2
soupsieve==2.0
SQLAlchemy==1.3.16
stem==1.8.0
tqdm==4.46.0
urllib3==1.25.9
websocket-client==0.57.0
websockets==9.1
word2number==1.1
